
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.list {
    padding-top: 104px;
    padding-bottom: 147px;
}

.listItem {
    color: #707070;
    font-family: "Merriweather";
    padding-bottom: 53px;
}

.listItem a {
    color: red;
}